# Django Settings module
# https://docs.djangoproject.com/en/4.1/topics/settings/#available-settings
DJANGO_SETTINGS_MODULE=config.settings

# Django secret-key
# https://stackoverflow.com/a/57678930
# Get secret-key from django.core.management.utils.get_random_secret_key()
SECRET_KEY="insecure-secret-key-just-for-build-and-test"

# Django debug mode
# https://docs.djangoproject.com/en/4.1/ref/settings/#std:setting-DEBUG
# 0 = False, 1 = True
DEBUG=0

# Django allowed hosts
# https://docs.djangoproject.com/en/4.1/ref/settings/#allowed-hosts
# Separate with space e.g: ALLOWED_HOSTS="localhost 0.0.0.0 127.0.0.1 domain.com"
# Use "*" for all in DEBUG mode
ALLOWED_HOSTS="localhost 127.0.0.1 0.0.0.0"


# Celery configuration
# https://docs.celeryproject.org/en/latest/userguide/configuration.html
BROKER_URL=amqp://rabbitmq:5672
CELERY_RESULT_BACKEND=rpc://rabbitmq:5672
# Accept content can separated with space
CELERY_ACCEPT_CONTENT="application/json"
CELERY_TASK_SERIALIZER=json
CELERY_RESULT_SERIALIZER=json
CELERY_TIMEZONE=Asia/Tehran
